@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-primary: oklch(62% 0.214 259.815);
	--color-primary-content: oklch(97% 0.014 254.604);
}

@plugin "daisyui/theme" {
	name: "dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(20.84% 0.008 17.911);
	--color-base-200: oklch(18.522% 0.007 17.911);
	--color-base-300: oklch(16.203% 0.007 17.911);
	--color-base-content: oklch(96% 0.003 264.542);
	--color-primary: oklch(62% 0.214 259.815);
	--color-primary-content: oklch(96% 0.018 272.314);
}

@layer base {
	:root {
		--text-pale: rgb(99, 104, 110);
		--border-noraml: rgba(0, 0, 0, 0.2);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--text-pale: oklch(75% 0.003 264.542);
			--border-noraml: rgba(255, 255, 255, 0.3);
		}
	}

	body {
		width: 390px;
		padding: 1rem;
	}
}
