@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-primary: oklch(62% 0.214 259.815);
	--color-primary-content: oklch(97% 0.014 254.604);
	--radius-field: 0.5rem;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(86% 0.022 252.894);
	--color-primary: oklch(62% 0.214 259.815);
	--color-primary-content: oklch(96% 0.018 272.314);
	--radius-field: 0.5rem;
}

@layer base {
	:root {
		--text-pale: rgb(99, 104, 110);
		--border-noraml: rgba(0, 0, 0, 0.2);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--text-pale: rgb(171, 178, 190);
			--border-noraml: rgba(255, 255, 255, 0.3);
		}
	}
}

@utility scrollbar-thin {
	scrollbar-width: thin;
}

@utility scrollbar-stable {
	scrollbar-gutter: stable;
}
