@import "tailwindcss";

@layer base {
	* {
		font-family:
			win-bug-omega,
			system-ui,
			-apple-system,
			"Segoe UI",
			Roboto,
			Ubuntu,
			Cantarell,
			"Noto Sans",
			"Hiragino Kaku Gothic ProN",
			Meiryo,
			sans-serif;
	}

	body {
		position: relative;
		background-color: var(--charcoal-background1);
		color: var(--charcoal-text1);
		font-size: 14px;
	}
}

@utility hidden-scrollbar {
	scrollbar-width: none;
}

@utility following-blur-right {
	mask-image: linear-gradient(to right, rgb(0, 0, 0) calc(100% - 72px), transparent);
}

@utility following-blur-left-on {
	mask: linear-gradient(to right, transparent, rgb(0, 0, 0) 72px) 0px 0px;
}

@utility following-blur-left-off {
	mask: linear-gradient(to right, transparent, rgb(0, 0, 0) 72px) -72px 0px;
}

@layer utilities {
	@keyframes charcoal-loading-spinner-icon-scale-out {
		0% {
			transform: scale(0);
			opacity: 1;
		}
		to {
			transform: scale(1);
			opacity: 0;
		}
	}
}
