body {
    width: 300px;
    font-size: 17px;
    user-select: none;
}

main {
    margin: .2em 0 .5em 0;
}

#title-container {
    border-bottom: 1px solid #c4c4c4;
    margin: 0 5%;
}

#title {
    display: flex;
    width: fit-content;
    margin: auto;
}

#addon-name {
    margin-left: 10px;
}

label {
    display: flex;
    cursor: pointer;
    margin: 5% 10%;
    font-size: 16px;
}

input {
    margin: auto 0 auto auto;
    width: 17px;
    height: 17px;
}

svg {
    margin: auto 0;
}